<div>
  <span>Finish</span>
  <ul>
    <li><%= link_to 'show_env', show_env_others_path %></li>
    <li><%= link_to 'log', log_others_path %></li>
  </ul>
</div>
<div>
  <span>Doing</span>
  <ul>
    <li>Rspec</li>
    <li>Capybara (and Selenium)</li>
    <li>FactoryGirl</li>
  </ul>
</div>
<div>
  <span>Todo</span>
  <ul>
    <li>Redis</li>
    <li>MariaDB & cluster (use Docker.io to simulate?)</li>
    <li>Nginx</li>
  </ul>
</div>
