<div class="header">
  <h1>This is header</h1>
  <%= link_to "繁體中文", :controller => controller.controller_name, :action => controller.action_name, :locale => "zh-TW"  %>
  <%= link_to "English", :controller => controller.controller_name, :action => controller.action_name, :locale => "en" %>
</div>
